<i class="sitemap icon"></i>
<%if institution=@institutions.first%>
<span class="text""><%= institution.name%></span>
<%end%>
<div class="menu">
     <%@institutions.each do |institution|%>
     <div class="item" value="<%= institution.id%>">
          <%= institution.name%>
     </div>
     <%end%>
</div>

