<div class="ui tabular menu" id="achieve_final_tabular">
  <% if @sub_courses %>
  <% @sub_courses.each do |sub| %>
  <a class="item" sub="<%= sub.id %>">
    <div class="floating ui label"></div>
    <%= sub.name %>
  </a>
  <% end %>
  <% end %>
</div>
<table class="ui small table segment celled">
  <thead>
    <tr><th class="five wide">时间</th>
      <th class="four wide">成绩</th>
      <th>入校</th>
  </tr></thead>
  <tbody>
  </tbody>
</table>
<canvas id="myChart" ></canvas>
