<article class="back-index-main front-index-main" id="front-index-main">
  <header class="back-index-side-header" id="front-index-side-header">
    <label>工作板</label>
  </header>
  <div class="front-people-inner">
    <%= render partial:'courses' %>
    <%= render partial:'homework' %>
  </div>
</article>
