<aside class="back-index-aside">
     <a class="logo" ></a>
     <ul class="first-ul">
          <li>
               <a>学生信息</a>
          </li>
          <li>
               <a>老师信息</a>
          </li>
          <li>
               <a>课程安排</a>
          </li>
     </ul>
     <ul class="second-ul" id="main-navigator-bottom">
          <li>
               <a href='<%= settings_path%>'> <i class="settings icon" data-content="全局配置"></i></a>
          </li>
          <li>
               <i class="smile icon" data-content="我的账户"></i>
          </li>
          <li>
               <i class="mail outline icon" data-content="发送信息"></i>
          </li>
          <li>
               <i class="sign out icon" data-content="退出账户"></i>
          </li>
     </ul>
</aside>
