<div style='background:FFF'">
  <!--放附件的地方-->
  <label id="attachmentLabel" class="attachmentLabel">附件(最大为20M)</label>
  <a class="btn btn-mini pull-right atta-tag-btn task-atta-btn" title="添加附件" onclick="myfile.click()"><i class="icon-plus"> </i></a>
  <input id="task-attach-uploader" class="task-attach-upload" type="file" name="files[]" data-url="../files/attach" multiple="true" style="display: none;"/>
  <div class="atta-line" id="task-attach-uploader-preview" ></div>
</div>

<% content_for :javascript_includes do%>
  <%= javascript_include_tag "jquery.file.upload/jquery.fileupload.js"%>
<%end%>
