<footer class="control-log" id="control-log" state="close">
    <i class="icon double angle right"></i>
    操作记录
</footer>
<footer class="back-index-log" id="back-index-log" >
    <ul>
        <li>2013-10-13 13:00 开始课程 1</li>
        <li>2013-10-13 12:00 开始课程 21</li>
    </ul>
</footer>