<table class="ui small table segment celled">
  <thead>
    <tr><th>学校</th>
      <th>专业</th>
      <th>时间</th>
      <th>奖学金</th>
      <th>操作</th>
  </tr></thead>
  <tbody>
    <tr>
      <td>MIT</td>
      <td>建筑</td>
      <td>2013-10</td>
      <td>否</td>
      <td><span class="remove">删除</span></td>
    </tr>
  </tbody>
</table>
