<!--partial-->
<div class="item consult-record" id="consult-record">
  <div class="title">
    <i class="dropdown icon"></i>咨询记录
  </div>
  <div class="content">
    <div class="item">
      <p>2013-10-13 15:00 李女士</p>
      <p>询问了一些课程开设的情况，希望下周一联系她</p>
      <p>接线人:May</p>
      <dl>
        <dt>评论：</dt>
        <dd><span>重要客户，请抓紧联系</span><span>2013-10-15</span><i class="icon remove"></i></dd>
      </dl>
      <div class="comment-block">
        <input type="text"/>
        <div class="ui button tiny">评论</div>
      </div>
    </div>
    <div class="item">
      <p>2013-10-13 15:00 李女士</p>
      <p>询问了一些课程开设的情况，希望下周一联系她</p>
      <p>接线人:May</p>
      <dl>
        <dt>评论：</dt>
        <dd><span>重要客户，请抓紧联系</span><span>2013-10-15</span><i class="icon remove"></i></dd>
      </dl>
      <div class="comment-block">
        <input type="text"/>
        <div class="ui button tiny">评论</div>
      </div>
    </div>
    <div class="item">
      <p>2013-10-13 15:00 李女士</p>
      <p>询问了一些课程开设的情况，希望下周一联系她</p>
      <p>接线人:May</p>
      <dl>
        <dt>评论：</dt>
        <dd><span>重要客户，请抓紧联系</span><span>2013-10-15</span><i class="icon remove"></i></dd>
      </dl>
      <div class="comment-block">
        <input type="text"/>
        <div class="ui button tiny">评论</div>
      </div>
    </div>
  </div>
  <div class="ui mini button" for="detail-add" type="consult-record"><i class="add icon"></i> 添加咨询记录</div>
</div>
<!--partial-->
