<div class="item" id="class-and-service">
  <div class="active title">
    <i class="dropdown icon"></i>课程及服务
  </div>
  <div class="active content class-and-service">
    <table class="ui celled table segment">
      <thead>
        <tr>
          <th class="wide three">课程/服务</th>
          <th class="wide one">课时</th>
          <th class="wide four">上课时间</th>
          <th class="wide three">支付情况</th>
          <th class="wide five">表现/进度</th>
        </tr>
      </thead>
      <tbody>
        <tr id="id">
          <td>托福秋季班</td>
          <td>96</td>
          <td>2013.10.11-2013.12.13</td>
          <td class="pay-lack">没有支付</td>
          <td>
            <input type="text" />
          </td>
          <!--<td>-->
          <!--<div class="ui striped progress">-->
          <!--<div class="bar" style="width: 30%;"></div>-->
          <!--</div>-->
          <!--</td>-->
        </tr>
        <tr id="id_another_0">
          <td>托福秋季班</td>
          <td>96</td>
          <td>2013.9.11-2013.10.13</td>
          <td>已经支付</td>
          <td>
            <input type="text" />
          </td>
          <!--<td>-->
          <!--<div class="ui striped progress">-->
          <!--<div class="bar" style="width: 90%;"></div>-->
          <!--</div>-->
          <!--</td>-->
        </tr>
        <tr id="id_another">
          <td>托福夏季班</td>
          <td>96</td>
          <td>2013.7.11-2013.8.13</td>
          <td >已经支付</td>
          <td>
            <input type="text" />
          </td>
          <!--<td>-->
          <!--<div class="ui striped progress complete">-->
          <!--<div class="bar" style="width: 100%;"></div>-->
          <!--</div>-->
          <!--</td>-->
        </tr>
      </tbody>
    </table>
  </div>
</div>
