<%=render partial: 'views_aside'%>

<article class="back-index-main" name="student">
  <header class="back-index-side-header">
    <div class="ui teal mini button" id="add-item" type="student">
      <div class="visible content">
        <i class="add icon"></i>
        新建学生
      </div>
    </div>
  </header>
  <div class="search-list" id="search-list">
    <div class="ui big fluid icon input search-input autoComplete customAutoHeight" autoMaxHeight="210px">
      <input placeholder="在此输入搜素条件..." type="text" id="autoC1">
      <i class="search icon"></i>
    </div>
    <div class="ui inverted segment search-conditions">
      <p>所在高中：七宝中学</p>
      <p>年龄：大于 18岁</p>
    </div>
    <div class="column">
      <div class="ui raised segment">
        <div class="ui red ribbon label">搜索结果: <div class="ui red label">1</div></div>
        <a><i class="icon up"></i> 根据相关性排序</a>
        <a><i class="icon up"></i> 根据最新活动排序</a>
      </div>
    </div>
    <ul class="search-result" id="search-result">
      <!--template-->
      <li>
        <table class="ui table segment">
          <tr>
            <td class="two wide">
              <img class="circular ui image mini portrait" src="images/portrait/0.jpg" />
              <p class="name">王子骁</p>
            </td>
            <td class="two wide">
              <p class="type">潜在客户</p>
              <p>七宝中学</p>
              <p>高二</p>
              <p>17岁</p>
            </td>
            <td class="five wide">
              <div class="ui blue labels small">
                <a class="ui label">
                  托福
                </a>
                <a class="ui label">
                  雅思
                </a>
                <a class="ui label">
                  SAT
                </a>
              </div>
              <p class="parent"><span>监护人:</span><span>13901111123(王先生)</span></p>
              <p class="phone"><span>联系电话:</span><span>13918502286</span></p>
              <p class="consult-time"><span>上次咨询:</span><span>2013-11-11 16:00</span></p>
            </td>
            <td class="two wide">
              <p class="maybe-know">推荐人</p>
              <p><span>张三</span></p>
            </td>
            <td class="three wide">
              <p class="recommend">可能认识</p>
              <p><span>李四</span><span>王八</span><span>白一</span></p>
            </td>
            <td class="three wide">
              <a class="ui mini button teal" href="BACK-student-detail.html">
                详情
              </a>
            </td>
          </tr>
        </table>
      </li>
      <!--template-->
    </ul>
  </div>
</article>

<!--add student-->
<section class="back-index-add" id="back-index-add" name="student">
  <div class="inner">
    <i class="remove icon"></i>
    <p>新建学生</p>
    <div class="left-part">
      <div class="portrait">
        <img class="ui circular image " src="images/portrait/1.jpg">
      </div>
      <div class="ui left icon input">
        <input placeholder="姓名..." type="text">
        <i class="user icon"></i>
      </div>
      <div class="sex stop">
        <div class="ui radio checkbox">
          <input name="sex" checked="checked" type="radio">
          <label>男</label>
        </div>
        <div class="ui radio checkbox">
          <input name="sex" type="radio">
          <label>女</label>
        </div>
      </div>
      <div class="ui left icon input calendar">
        <input placeholder="出生年月..." type="text" readonly id="born-date">
        <i class="calendar icon"></i>
      </div>
      <div class="ui left icon input">
        <input placeholder="就读学校..." type="text">
        <i class="building icon"></i>
      </div>
      <div class="ui left icon input calendar">
        <input placeholder="毕业年限..." type="text" readonly id="graduation-date">
        <i class="empty bookmark icon"></i>
      </div>
    </div>
    <div class="right-part">
      <div class="ui left icon input">
        <input placeholder="邮件地址..." type="text">
        <i class="mail outline icon"></i>
      </div>
      <div class="ui left icon input">
        <input placeholder="联系电话..." type="text">
        <i class="phone icon"></i>
      </div>
      <div class="ui left icon input">
        <input placeholder="联系地址..." type="text">
        <i class="home icon"></i>
      </div>
      <div class="ui left icon input">
        <input placeholder="监护人..." type="text">
        <i class="male icon"></i>
      </div>
      <div class="ui left icon input">
        <input placeholder="监护人电话..." type="text">
        <i class="mobile icon"></i>
      </div>
      <div class="ui left icon input specialInput labelForm autoComplete">
        <ul>
          <li><input type='text' placeholder="标签..." id="autoC2"/></li>
        </ul>
        <i class="tag icon stop"></i>
      </div>
      <div class="ui left icon input autoComplete">
        <input placeholder="推荐人..." id="autoC3" type="text">
        <i class="smile icon"></i>
      </div>
      <div class="ui checkbox stop">
        <input name="fun" type="checkbox" checked>
        <label>同时开设学生账号</label>
      </div>
      <div class="ui red button">
        添加
      </div>
    </div>
  </div>
</section>
