<div class="ui mini teal button upload-homework"  id="upload-homework">
     上传我的作业
</div>
<div class="homework-post-add upload-my-home-work" id="upload-my-home-work">
     <div class="inner">
          <i class="icon remove"></i>
          <p>
               上传我的作业
          </p>
          <div class="content">
               <label>作业内容</label>
               <textarea  class="homework-input" name="content" id="student-homework-content"></textarea>
               <div class="upload-file">
                    <%= render 'shares/file_upload'%>
               </div>
          </div>
          <div  class="ui button red mini" id="student-homework-submit-button" homework="<%= @homework.id%>">
               上传
          </div>
     </div>
</div>