<aside class="back-index-condition ">
     <header class="back-index-side-header">
          <label>配置选项</label>
     </header>
     <div class="ui vertical menu" id="admin-setting">
          <a class="item" name="institutions"> <i class="sitemap icon"></i> <label>机构</label> </a>
          <a class="item"name="users"> <i class="users icon"></i> <label>用户</label> </a>
          <a class="item" name="materials"> <i class="text file outline icon"></i> <label>材料</label> </a>
          <a class="item" name="settings"> <i class="shield icon"></i> <label>默认密码</label> </a>
     </div>
</aside>