<div></div>
<div class="admin-operate" name="settings" id="admin-operate">
     <div class="default-password">
          <p>
               用户默认密码
          </p>
          <div class="ui input">
               <input  type="text" value="<%= @setting.default_pwd%>">
          </div>
          <div class="ui teal button">
               保存修改
          </div>
     </div>
</div>