<%= render partial:'menu_aside'%>
<article class="back-index-main" id="back-index-main">
     <header class="back-index-side-header" name="admin">
          <label></label>
     </header>
     <div id="partial-content"> 
          <%= render partial:'institutions'%>
     </div>
</article>
<% content_for :javascript_includes do%>
<%= javascript_include_tag "BACK_index.js"%>
<%= javascript_include_tag "BACK_admin.js"%>
<%end%>
