<aside class="back-index-condition front-index-condition">
  <header class="back-index-side-header">
    <label>个人信息</label>
  </header>
  <div class="front-people-info">

<!--     <img class=" ui image" src="assets/portrait/1.jpg"> -->
    <label class="label label-without-pic"><span><%= @teacher.name%></span></label>
    <p><i class="icon mail"></i> <span><%= @teacher.email%></span></p>
  </div>
</aside>
