<%if @homework%>
<table>
     <tr>
          <td>title: <%= @homework.title%></td>
     </tr>
     <tr>
          <td>content: <%= @homework.content%></td>
     </tr>
     <tr>
          <td>deadline: <%= @homework.deadline_display%></td>
     </tr>
</table>
<%end%>
