<table style="height: 600px; width:100%">
     <tr style="height: 60px; background: yellow;"  colspan="2">
          <td>HOME WORK</td>
     </tr>
     <tr>
          <td style="background: green;width: 30%">
               <%=render 'menu'%>
          </td>
          <td style="background: grey;width: 70%">
               33
          </td>
     </tr>
</table>
<%= render partial:'shares/log_footer'%>
<% content_for :javascript_includes do%>
<%= javascript_include_tag "base_manage_source.js"%> 
<%= javascript_include_tag "homework.base.js"%> 
<%end%>
