<table class="ui table segment">
     <tr id="super-wzx">
          <td class="two wide"><img class="circular ui image mini portrait" src="images/portrait/0.jpg" />
          <p class="name">
               王子骁
          </p></td>
          <td class="two wide">
          <p class="type">
               潜在客户
          </p>
          <p>
               七宝中学
          </p>
          <p>
               高二
          </p>
          <p>
               17岁
          </p></td>
          <td class="five wide">
          <div class="ui blue labels small">
               <a class="ui label"> 托福 </a>
               <a class="ui label"> 雅思 </a>
               <a class="ui label"> SAT </a>
          </div>
          <p class="parent">
               <span>监护人:</span><span>13901111123(王先生)</span>
          </p>
          <p class="phone">
               <span>联系电话:</span><span>13918502286</span>
          </p>
          <p class="consult-time">
               <span>上次咨询:</span><span>2013-11-11 16:00</span>
          </p></td>
          <td class="two wide">
          <p class="maybe-know">
               推荐人
          </p>
          <p>
               <span>张三</span>
          </p></td>
          <td class="three wide">
          <p class="recommend">
               可能认识
          </p>
          <p>
               <span>李四</span><span>王八</span><span>白一</span>
          </p></td>
          <td class="three wide">
          <div class="ui mini button teal join-class">
               报班
          </div></td>
     </tr>
</table>