<table class="ui celled table segment">
     <thead>
          <tr>
               <th class="wide two"></th>
               <th class="wide three">姓名</th>
               <th class="wide four">报班时间</th>
               <th class="wide four">支付情况</th>
               <th class="wide three"></th>
          </tr>
     </thead>
     <tbody>
          <tr id="id">
               <td><img class="ui avatar image" src="images/portrait/0.jpg"/></td>
               <td>王子骁</td>
               <td>2013-12-12</td>
               <td>
               <div class="ui checkbox" name="join-pay">
                    <input type="checkbox">
                    <label>已经支付</label>
               </div></td>
               <td>
               <div class="red button ui mini out-class" affect='id'>
                    退班
               </div></td>
          </tr>
     </tbody>
</table>