<aside class="back-index-condition ">
    <header class="back-index-side-header">
        <label>快捷视图</label>
        <div class="ui teal animated mini button" id="view-add">
            <div class="hidden content">视图</div>
            <div class="visible content">
                <i class="add icon"></i>
            </div>
        </div>
    </header>
    <div class="ui vertical menu">
        <a class="item">
            <div class="ui label">1</div>
            <label>最近一天</label>
        </a>
        <a class="item">
            <div class="ui label">21</div>
            <label>最近一个月</label>
        </a>
        <a class="item">
            <div class="ui red label">0</div>
            <label>SAT</label>
        </a>
    </div>
</aside>