<div>
  <h1>新建帖子</h1>
  <input id="title" type="text" placeholder="标题..."></input>
  <input id="content" type="textarea" placeholder="内容..."></input>
  <input type="button" onclick="create_post()" value="创建"></input>
  <%= render partial:'/shares/file_upload'%>
</div>
