
/*green*/
/* #63A69F*/
/*red*/
/* #E44B3D*/
/*blue*/
/*#4092CC*/
/************************************************************   left aside */
.back-index-aside{
    background:rgba(47, 47, 47,1);
    position:absolute;
    top:0px;
    bottom:0px;
    left:0px;
    width:100px;
    overflow:hidden;
    z-index:30;
    box-shadow:2px 0px 7px #595959;
    -moz-box-shadow:2px 0px 7px #595959;
    -webkit-box-shadow:2px 0px 7px #595959;
    min-height:768px;
}
.back-index-aside>.logo{
    dispaly:block;
    position:absolute;
    top:0px;
    left:0px;
    right:0px;
    height:55px;
    cursor:pointer;
    border-bottom:1px solid rgba(255, 255, 255, 0.6);
}
.back-index-aside>.first-ul{
    position:absolute;
    top:52px;
    left:0px;
    right:0px;
    width:auto;
    list-style-type:none;
    padding:0px;
}
.back-index-aside>.first-ul>li>a{
    display:block;
    text-align:center;
    padding:9px 0;
    color:rgba(255, 255, 255, 0.8);
    font-size:13px;
}
.back-index-aside>.first-ul>li>a.active{
    color:white;
    background-color:#63A69F;
}
.back-index-aside>.first-ul>li>a:hover{
    background-color:#63A69F;
    color:#FFFFFF;
}
.back-index-aside>.second-ul{
    position:absolute;
    padding:0px;
    margin:0px;
    left:0px;
    right:0px;
    bottom:10px;
    list-style-type:none;
}
.back-index-aside>.second-ul>li{
    text-align:center;
    padding:9px 0;
}
.back-index-aside>.second-ul>li>a>i{
    color:rgba(255, 255, 255, 0.8);
    font-size:25px;
    cursor:pointer;
    transition:color 0.3s ease-out;
}
.back-index-aside>.second-ul>li>a>i:hover{
    color:#63A69F
}
/************************************************************   middle condition */
.back-index-condition{
    background:#fef9ee;
    border-right:1px solid rgba(0,0,0,0.3);
    z-index:20;
    position:absolute;
    top:0px;
    bottom:0px;
    left:100px;
    width:230px;
    overflow-x:hidden;
    overflow-y:auto;
    min-height:768px;
}
.back-index-side-header{
    width:100%;
    height:55px;
    border-bottom:1px solid rgba(0,0,0,0.2);
    box-shadow:0px 2px 3px rgba(0,0,0,0.2);
}
.back-index-side-header:before{
    content:"";
    display:block;
    width:100%;
    height:6px;
    background:#63A69F;
}
.back-index-side-header>label{
    position:relative;
    top:15px;
    left:14px;
    font-size:15px;
    font-weight:lighter;
    color:#444;
}
.back-index-side-header>.ui.button:first-of-type{
    position:absolute;
    right:10px;
    top:17px;
}
.back-index-side-header>.ui.button:nth-of-type(2){
    position:absolute;
    right:135px;
    top:17px;
}
.back-index-side-header>.ui.button:nth-of-type(3){
    position:absolute;
    right:234px;
    top:17px;
}
/*中间段*/
.back-index-condition>.ui.vertical.menu{
    background-color:rgba(0,0,0,0);
    box-shadow:none;
    -moz-box-shadow:none;
    -webkit-box-shadow:none;
    width:230px;
    margin-top:6px;
}
.back-index-condition>.ui.vertical.menu .item{
    cursor:pointer;
}
.back-index-condition>.ui.vertical.menu label{
    font-size:13px;
    margin-top:3px;
    display:block;
    max-width:200px;
    overflow:hidden;
    text-overflow:ellipsis;
    white-space:nowrap;
    pointer-events:none;
}
.back-index-condition>.ui.vertical.menu .item.active{
    color:#63A69F
}
/************************************************************   right main */
.back-index-main{
    background:#fef9ee;
    position:absolute;
    top:0px;
    left:330px;
    right:0px;
    overflow-x:hidden;
    overflow-y:auto;
    min-height:768px;
    transition:right 0.35s ease-out;
    height:100%;
    min-width:670px;
}
.back-index-main>.search-list{
    width:90%;
    position:relative;
    left:50%;
    margin-left:-45%;
}
.back-index-main>.search-list>.search-input{
    margin-top:20px;
    margin-bottom:10px;
}
.back-index-main>.search-list>.search-input>i{
    cursor:pointer !important;
    transition:color 0.25s ease-out !important;
}
.back-index-main>.search-list>.search-input>i:hover{
    color:#D95C5C
}
/*搜索条件的记录*/
.back-index-main>.search-list>.search-conditions{
    padding:0;
    margin:0 0 15px;
}
.back-index-main>.search-list>.search-conditions p{
    color:white;
    font-size:13px;
    margin:1px 0px;
    line-height:20px;
}
/*搜索结果*/
.back-index-main>.search-list>.column>.segment{
    padding:10px 1em;
}
.back-index-main>.search-list>.column>.segment>a{
    color:#C69C6D;
    font-size:14px;
}
.back-index-main>.search-list>.column>.segment>a:hover{
    color:#855520;
}
.back-index-main>.search-list>.column>.segment>a:first-of-type:after{
    content:"|";
    color:rgba(0,0,0,0.2);
    font-size:20px;
    padding:0 4px 0 16px;
}
/*搜索结果列表*/
.back-index-main>.search-list>.search-result{
    list-style-type: none;
    background-color:rgba(0, 0, 0, 0.02);
    border-radius:5px;
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    box-shadow:0 1px 2px 1px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow:0 1px 2px 1px rgba(0, 0, 0, 0.1);
    -moz-box-shadow:0 1px 2px 1px rgba(0, 0, 0, 0.1);
    padding:5px 0;
    position:relative;
}
.back-index-main>.search-list>.search-result>li{
    padding:8px 15px
}
.back-index-main>.search-list>.search-result>li td{
    word-break:break-all;
    word-wrap:break-word;
}
.back-index-main>.search-list>.search-result>li p{
    font-size:13px;
    cursor:default;
}

/*记录*/
.control-log{
    position:fixed;
    bottom:0px;
    width:20px;
    z-index:31;
    left:100px;
    background:rgba(47, 47, 47,1);
    line-height:12px;
    color:white;
    font-size:11px;
    padding:6px 2px;
    magin:0px;
    border-radius:0 3px 0 0;
    -moz-border-radius:0 3px 0 0;
    -webkit-border-radius:0 3px 0 0;
    text-align:center;
    cursor:pointer;
    transition:color 0.2s ease-out;
    border-left:1px solid rgba(255,255,255,0.3);
    height:65px;
}
.control-log:hover{
    color:rgba(255,255,255,0.5);
}
.control-log i{
    position:relative;
    top:-2px;
}
.control-log i.right{
    right:3px;
}
.control-log i.left{
    left:3px;
}
.back-index-log{
    position:fixed;
    bottom:0px;
    left:-210px;
    width:310px;
    height:77px;
    background-color:#222;
    overflow-y:auto;
    z-index:28;
    border-radius:0 3px 0 0;
    -moz-border-radius:0 3px 0 0;
    -webkit-border-radius:0 3px 0 0;
    transition:left 0.35s ease-out;
}
.back-index-log>ul{
    list-style-type: none;
    margin:0px;
    padding:8px 2px 8px 42px;
}
.back-index-log>ul>li{
    word-break:break-all;
    word-wrap:break-word;
    font-size:12px;
    padding:1px 0;
    color:white;
}
/*只有左右两块布局的*/
.back-index-main[name='2column']{
    left:100px;
    min-width:924px;
}
.back-index-main[name='2column']:after{
    content:"";
    display:table;
    clear:both;
}
.back-index-main[name='2column']:before{
    content:"";
    display:table;
}
.back-index-main[name='2column'] header{
    text-align:center;
}
.back-index-main[name='2column'] header .ui.button:first-of-type{
    right:auto;
    left:27px;
}
.back-index-main[name='2column'] header p{
    margin-top:17px;
    color:rgba(0,0,0,0.7);
    font-size:15px;
    font-weight:bold;
}
/************************************************************   view add  */
.view-add{
    position:fixed;
    z-index:40;
    top:0px;
    right:0px;
    bottom:0px;
    left:0px;
    background-color:rgba(0,0,0,0.9);
    display:none
}
.view-add>.inner{
    position:absolute;
    width:700px;
    height:600px;
    top:50%;
    left:50%;
    margin-top:-300px;
    margin-left:-350px;
    background-color:white;
}
.view-add>.inner>.remove.icon{
    color:white;
    font-size:28px;
    position:absolute;
    right:-35px;
    top:-40px;
    cursor:pointer;
    transition:color 0.25s ease-out;
    overflow-y: auto;
}
.view-add>.inner>.remove.icon:hover{
    color:rgba(255,255,255,0.5)
}
.view-add>.inner>.input{
    margin-top:30px;
    margin-left:20px;
    width:350px;
}
.view-add>.inner>.input>p{
    color:#63A69F;
}
.view-add>.inner>.input>input{
    border:1px solid rgba(0,0,0,0.3);
}
/*视图条件*/
.view-add>.inner>.condition-block{
    padding:8px 0;
    width:660px;
    border:1px dashed rgba(0,0,0,0.2);
    border-radius:0.3125em;
    -moz-border-radius:0.3125em;
    -webkit-border-radius:0.3125em;
    margin-left:20px;
    margin-top:25px;
    border-collapse:collapse;
}
.view-add>.inner>.condition-block caption{
    text-align:left;
    color:#63A69F;
    padding:0px 0px 5px;
}
.view-add>.inner>.condition-block i{

}
.view-add>.inner>.condition-block tr:last-of-type{
    border-top:1px solid #ddd;
}
.view-add>.inner>.condition-block td{
    padding:7px 3px;
}
/*第1列*/
.view-add>.inner>.condition-block tr td:first-of-type{
    width:160px;
}
.view-add>.inner>.condition-block tr td:first-of-type select{
    width:150px;
}
/*第2列*/
.view-add>.inner>.condition-block tr td:nth-of-type(2){
    width:110px;
}
.view-add>.inner>.condition-block tr td:nth-of-type(2) select{
    width:100px;
}
/*第3列*/
.view-add>.inner>.condition-block tr td:nth-of-type(3){
    width:300px;
}
.view-add>.inner>.condition-block tr td:nth-of-type(3) select{
    width:260px;
}
.view-add>.inner>.condition-block tr td:nth-of-type(3) input[type="text"]{
    width:260px;
}
/************************************************************   item add  */
.back-index-add{
    position:absolute;
    min-height:768px;
    top:0px;
    right:auto;
    bottom:0px;
    left:-999em;
    background:rgba(0,0,0,0.9);
    z-index:99;
}
.back-index-add>.inner{
    position:absolute;
    width:700px;
    height:600px;
    top:50%;
    left:50%;
    margin-top:-300px;
    margin-left:-350px;
    background-color:white;
}
.back-index-add>.inner>.remove.icon{
    color:white;
    font-size:28px;
    position:absolute;
    right:-35px;
    top:-40px;
    cursor:pointer;
    transition:color 0.25s ease-out;
}
.back-index-add>.inner>.remove.icon:hover{
    color:rgba(255,255,255,0.5);
}
.back-index-add>.inner>p{
    text-align:center;
    height:35px;
    font-size:16px;
    background:#D95C5C;
    color:white;
    line-height:35px;
    margin:0px;
    text-shadow:2px 2px 4px rgba(0,0,0,0.4);
    -moz-text-shadow:2px 2px 4px rgba(0,0,0,0.4);
    -webkit-text-shadow:2px 2px 4px rgba(0,0,0,0.4);
}
/*超级搜索框*/
.query_list>div{
    padding:6px 20px;
    width:80%;
}
.query_list>div:not(:first-of-type){
    margin-top:-8px;
}
.query_list>div>span{
    font-size:13px;
}
.query_list>div>span:last-of-type{
    display:inline-block;
    margin-right:15px;
}
.query_list>div>a{
    color:#D95C5C;
    transition:color 0.25s ease-out;
    display:none;
    margin-right:5px;
}
.query_list>div:hover a,
.query_list>div>a:hover{
    display:inline;
}
.query_list>div>a:hover{
    color:rgba(228,75,61,0.6)
}
.query_list{
    position:relative;
}
.query_list .query_add_view{
    float:left;
    margin-top:4px !important;
    width:140px;
    margin-left:18px;
    margin-bottom:5px;
    transition:background-color 0.25s ease-out;
}
.query_list .query_add_view:hover{
    background-color:rgba(228,75,61,0.8) !important;
}



