/*列表*/
.back-index-main>.search-list>.search-result>li .portrait{
    position:relative;
    left:50%;
    margin-left:-17.5px;
}
.back-index-main>.search-list>.search-result>li .name{
    font-size:15px;
    color:#63A69F;
    font-weight:bolder;
    text-align:center;
}
.back-index-main>.search-list>.search-result>li .type{
    color:#E44B3D;
    font-weight:bolder;
}
.back-index-main>.search-list>.search-result>li .parent>span:first-of-type,
.back-index-main>.search-list>.search-result>li .phone>span:first-of-type,
.back-index-main>.search-list>.search-result>li .consult-time>span:first-of-type{
    display:inline-block;
    margin-right:3px;
}
.back-index-main>.search-list>.search-result>li .labels{
    font-size:0;
}
.back-index-main>.search-list>.search-result>li .labels>a{
    padding:2px 4px;
    margin:0px;
    font-size:12px;
    margin-right:3px;
    margin-bottom:1px;
    cursor:default;
}
.back-index-main>.search-list>.search-result>li .maybe-know,
.back-index-main>.search-list>.search-result>li .recommend{
    text-align:center;
}
.back-index-main>.search-list>.search-result>li .maybe-know+p>a,
.back-index-main>.search-list>.search-result>li .recommend+p>a{
    display:block;
    text-align:center;
    color:#C69C6D;
    font-size:15px;
    cursor:pointer;
    margin-bottom:2px;
}
.back-index-main>.search-list>.search-result>li .maybe-know+p:hover,
.back-index-main>.search-list>.search-result>li .recommend+p>a:hover{
    color:#855520;
}
/*新建学生*/
/*left*/
.back-index-add>.inner>.left-part{
    float:left;
    width:50%;
    height:500px;
    margin-top:35px;
}
.back-index-add>.inner>.left-part>.portrait{
    margin:3px 0;
    height:98px;
    position:relative
}
.back-index-add>.inner>.left-part>.portrait>img{
    position:absolute;
    top:50%;
    left:50%;
    margin-top:-38px;
    margin-left:-40px;
}
.back-index-add>.inner>.left-part>div.input{
    width:300px;
    margin:5px 0px 6px 25px;
}
.back-index-add>.inner>.left-part>.sex{
    margin:16px 0 16px 26px;
}
.back-index-add>.inner>.left-part>.sex>.radio{
    margin-right:20px;
}
/*right*/
.back-index-add>.inner>.right-part{
    float:right;
    width:50%;
    height:500px;
    margin-top:35px;
    overflow-y:auto;
}
.back-index-add>.inner>.right-part>div.input{
    width:300px;
    margin:5px 0px 6px 25px;
}
.back-index-add>.inner>.right-part>div.input.specialInput{
    margin:5px 0px 2px 25px;
}
.back-index-add>.inner>.right-part>.checkbox{
    display:inline-block;
    margin:40px 0 5px 25px;
}
.back-index-add>.inner>.right-part>.button{
    width:130px;
    position:relative;
    left:26px;
    top:25px;
}
