/*info*/
.info .left p,
.info .middle p,
.info .right p{
    font-size:13px;
    word-break:break-all;
    word-wrap:break-word;
}
.info .left,
.info .middle,
.info .right{
    float:left;
    margin-top:8px;
    margin-bottom:20px;
}
/*left*/
.info .left{
    width:12%;
    text-align:center;
}
.info .left .name{
    font-size:24px;
    color:#63A69F;
}
.info .left .type{
    color:#D95C5C;
    line-height:7px;
}
.info .left img{
    position:relative;
    left:50%;
    margin-left:-35px;
    margin-top:10px;
}
/*middle*/
.info .middle{
    width:255px;
}
.info .middle p>span:first-of-type{
    text-align:right;
    width:62px;
    display:inline-block;
    margin-right:5px;
}
.info .middle p>span:last-of-type{
    color:rgba(0,0,0,0.6);
}
.info .middle .labels>span:first-of-type{
    vertical-align:top;
}
.info .middle .labels>span:last-of-type{
    font-size:0;
    display:inline-block;
    width:180px;
}
.info .middle .labels .label{
    padding:2px 8px;
    font-size:12px;
    margin:0px 2px 1px 0px;
}
/*right*/
.info .right{
    width:270px;
}
.info .right p>span:first-of-type{
    text-align:right;
    width:81px;
    display:inline-block;
    margin-right:5px;
}
.info .right p>span:last-of-type{
    color:rgba(0,0,0,0.6);
}
/*button*/
.info .detail-student-button{
    position:absolute;
    right:17px;
    bottom:27px;
    font-size:13px;
}
.info .detail-student-button:nth-of-type(2){
    right:120px;
}
/*accordion*/
.accordion[name='student'] .class-and-service table th,
.accordion[name='student'] .class-and-service table td{
    font-size:14px;
}
.accordion[name='student'] .class-and-service table td .progress{
    height:24px;
    padding:3px;
}
.accordion[name='student'] .class-and-service table td .progress .bar{
    background-color:#6ECFF5;
}
.accordion[name='student'] .class-and-service table td .progress.complete .bar{
    background-color:#A1CF64;
}
.accordion[name='student'] .class-and-service table td.pay-lack{
    color:#D95C5C;
}
/*人际*/
.accordion[name='student'] .friendship label{
    display:inline-block;
    width:100px;
    text-align:left;
    margin-right:0px;
}
.accordion[name='student'] .friendship .item{
    position:relative;
}
.accordion[name='student'] .friendship .item img{
    position:relative;
    top:50%;
    margin-top:11px;
    left:8px;
}
.accordion[name='student'] .friendship .item .content{
    padding:13px 5px;
    font-size:13px;
}
.accordion[name='student'] .friendship .item .content,
.accordion[name='student'] .friendship .item .content .header{
    max-width:200px;
    word-break:break-all;
    word-wrap:break-word;
}
/*咨询记录*/
.accordion[name='student'] .consult-record .content .item{
    border-radius:4px;
    -moz-border-radius:4px;
    -webkit-border-radius:4px;
    border:1px solid rgba(0,0,0,0.5);
    padding:10px 8px 5px;
    margin-bottom:38px;
}
.accordion[name='student'] .consult-record .content .item p{
    font-size:13px;
    margin:0px;
    line-height:16px;
}
.accordion[name='student'] .consult-record .content .item dl dt{
    font-size:13px;
}
.accordion[name='student'] .consult-record .content .item dl dd{
    font-size:12px;
    margin-bottom:5px;
}
.accordion[name='student'] .consult-record .content .item dl dd span:first-of-type{
    color:#4092CC;
}
.accordion[name='student'] .consult-record .content .item dl dd span:last-of-type{
    margin-left:8px;
    color:rgba(0,0,0,0.5);
}
.accordion[name='student'] .consult-record .content .item dl dd .remove{
    cursor:pointer;
    margin-left:15px;
    transition:color 0.25s ease-out;
    display:none;
}
.accordion[name='student'] .consult-record .content .item dl dd .remove:hover,
.accordion[name='student'] .consult-record .content .item dl dd:hover .remove{
    display:inline-block;
}

.accordion[name='student'] .consult-record .content .item dl dd .remove:hover{
    color:#EF3F49;
}
.accordion[name='student'] .consult-record .content .item .comment-block{
    margin-top:-5px;
}
.accordion[name='student'] .consult-record .content .item input[type='text']{
    border-radius:3px;
    -moz-border-radius:3px;
    -webkit-border-radius:3px;
    border:1px solid rgba(0,0,0,0.3);
    padding:5px 3px;
    width:350px;
}
.accordion[name='student'] .consult-record .content .item .button{
    font-size:13px;
    padding:7px 21px;
    margin-left:8px;
}
/*最终成就*/
.accordion[name='student'] .achievement .content-item:not(:last-of-type){
    border-bottom:1px solid rgba(0,0,0,0.6);
}
.accordion[name='student'] .achievement .content-item{
    padding:15px 0;
}
.accordion[name='student'] .achievement .content-item>p{
    margin:0 ;
    font-size:16px;
    color:#63A69F
}
.accordion[name='student'] .achievement .content-item>p>i{
    color:#23b890;
    margin-left:5px;
    cursor:pointer;
    font-size:13px;
    transition:color 0.25s ease-out
}
.accordion[name='student'] .achievement .content-item>p>i:hover{
    color:#22deac
}
/*最终成就*/
.accordion[name='student'] .achievement .content-item.achieve dl{
    margin:10px 0 5px;
}
.accordion[name='student'] .achievement .content-item.achieve dd{
    font-size:13px;
    margin-bottom:5px;
}
.accordion[name='student'] .achievement .content-item.achieve dd>i{
    margin-left:8px;
    cursor:pointer;
    display:none;
    transition:color 0.25s ease-out;
}
.accordion[name='student'] .achievement .content-item.achieve dd>i.template-remove{
    display:inline-block;
}
.accordion[name='student'] .achievement .content-item.achieve dd:hover i,
.accordion[name='student'] .achievement .content-item.achieve dd>i:hover{
    display:inline-block;
}
.accordion[name='student'] .achievement .content-item.achieve dd>i:hover{
    color:rgba(0,0,0,0.6);
}
/*所有录取*/
.accordion[name='student'] .offer tr td:last-of-type span:last-of-type{
    text-align:center;
    color:#D95C5C;
    text-decoration:underline;
    cursor:pointer;
    transition:color 0.25s ease-out;
}
.accordion[name='student'] .offer tr td:last-of-type:hover span:last-of-type{
    color:#ef1414
}
.accordion[name='student'] .offer-template-operate span:first-of-type{
    color:#63A69F;
    display:inline-block;
    margin-right:18px;
    text-decoration:underline;
    cursor:pointer;
    transition:color 0.25s ease-out;
}
.accordion[name='student'] .offer-template-operate span:first-of-type:hover{
    color:#2ac6b6;
}
/*成绩*/
.accordion[name='student'] .grade .grade-add{
    width:150px;
    height:65px;
    border-radius:4px;
    -moz-border-radius:4px;
    -webkit-border-radius:4px;
    background-color:rgba(0,0,0,0.9);
    position:fixed;
    left:-999em;
    z-index:101;
}
.accordion[name='student'] .grade .grade-add:before{
    content:'';
    display:block;
    width:0px;
    height:0px;
    border-bottom:10px solid rgba(0,0,0,0.9);
    border-right:10px solid transparent;
    position:relative;
    top:-10px;
    left:10px;
}
.accordion[name='student'] .grade .grade-add p{
    margin:0px;
    color:#fff;
    font-size:13px;
    padding-left:5px;

}
.accordion[name='student'] .grade .grade-add input{
    width:130px;
    margin-left:5px;
    margin-top:6px;
    background:#fff;
    border:1px solid rgba(0,0,0,0.5);
    padding:3px;
}
.accordion[name='student'] .grade .tabular.menu a.item{
    font-size:13px;
}
.accordion[name='student'] .grade .tabular.menu a.item.active{
    color:#D95C5C
}
.accordion[name='student'] .grade .tabular.menu .label{
    display:none;
}
.accordion[name='student'] .grade .tabular.menu .label:hover,
.accordion[name='student'] .grade .tabular.menu a:hover .label{
    display:block;
}
.accordion[name='student'] .grade .tabular.menu .label:hover{
    background-color:rgba(217,92,92,0.7);
}
.accordion[name='student'] .grade thead th>span{
    color: rgba(0, 0, 0, 0.7);
    font-size: 11px;
}
.accordion[name='student'] .grade tfoot th{
    color:#63A69F;
    text-decoration:underline;
    font-size:13px;
    font-style:normal;
    cursor:pointer;
}
.accordion[name='student'] .grade tfoot th:hover{
    color:#2ac6b6;
}
.accordion[name='student'] .grade tr td:last-of-type span:last-of-type{
    text-align:center;
    color:#D95C5C;
    text-decoration:underline;
    cursor:pointer;
    transition:color 0.25s ease-out;
}
.accordion[name='student'] .grade tr td:last-of-type span:last-of-type:hover{
    color:#ef1414
}
.accordion[name='student'] .grade-template-operate span:first-of-type{
    color:#63A69F;
    display:inline-block;
    margin-right:18px;
    text-decoration:underline;
    cursor:pointer;
    transition:color 0.25s ease-out;
}
.accordion[name='student'] .grade-template-operate span:first-of-type:hover{
    color:#2ac6b6;
}
.detail-add[type='consult-record'] > .inner .form{
    box-shadow:none;
}
.detail-add[type='consult-record'] > .inner .form .field:first-of-type input{
    width:20%;
}
.detail-add[type='consult-record'] > .inner .form input{
    padding:8px 5px;
}
.detail-add[type='consult-record'] > .inner .form select{
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 0.3125em;
    -moz-border-radius: 0.3125em;
    -webkit-border-radius: 0.3125em;
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.3) inset;
    -moz-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.3) inset;
    -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.3) inset;
    padding:8px 5px;
}
.detail-add[type='consult-record'] > .inner .form textarea{
    max-height:180px;
}
.detail-add[type='consult-record'] > .inner .form .submit{
    float:right;
}