/*列表*/
.back-index-main > .search-list > .search-result[name="course"] > li .course-name{
    color:#63A69F;
    font-size:21px;
    margin-bottom:0px;
    float:left;
}
.back-index-main > .search-list > .search-result[name="course"] > li .labels{
    float:left;
    margin-top:10px;
    margin-left:20px;
}
.back-index-main > .search-list > .search-result[name="course"] > li .course-desc{
    vertical-align:top;
}
.back-index-main > .search-list > .search-result[name="course"] > li .class-size{
    color:#C69C6D;
}
.back-index-main > .search-list > .search-result[name="course"] > li .course-desc span:first-of-type{
    display:block;
    margin-bottom:3px;
}
.back-index-main > .search-list > .search-result[name="course"] > li .button{
    position:relative;
    left:50%;
    width:70px;
    margin-left:-35px;
    top:-20px;
}

.back-index-main > .search-list > .search-result[name="course"] > li .course-status{
    max-width:60px;
    min-width:60px;
    width:60px;
    padding:0.4em 0em
}
.back-index-main > .search-list > .search-result[name="course"] > li .course-status p{
    text-align:center;
}
.back-index-main > .search-list > .search-result[name="course"] > li .course-status p:nth-of-type(2){
    color:#E44B3D;
}
.back-index-main > .search-list > .search-result[name="course"] > li .course-status p:nth-of-type(2)[state="2"]{
    color:#77c117;
}
.back-index-main > .search-list > .search-result[name="course"] > li .course-status .slider {
    position:relative;
    left:50%;
    margin-left:-1.5em;
    bottom:-5px;
}
.back-index-main > .search-list > .search-result[name="course"] > li .course-teachers>span{
    margin-right:6px;
}
.back-index-main > .search-list > .search-result[name="course"] > li table tr:nth-child(2) td:first-of-type{
    /*width:280px;*/
    /*min-width:280px;*/
    /*max-width:280px;*/
}
.back-index-main > .search-list > .search-result[name="course"] > li table tr:nth-child(2n){
    background-color:white;
}
.back-index-main > .search-list > .search-result[name="course"] > li table tr:nth-child(2n) td,
.back-index-main > .search-list > .search-result[name="course"] > li table tr:nth-child(3) td{
    padding:0em 0.7em
}
.back-index-main > .search-list > .search-result[name="course"] > li table tr:nth-child(2n) td p,
.back-index-main > .search-list > .search-result[name="course"] > li table tr:nth-child(3) td p{
    margin:0px 0px 5px;
}
/*新建课程/服务*/
.back-index-add[name='course'] .tab{
    position:relative;
    width:96%;
    left:50%;
    margin-left:-48%;
    top:20px;
    border-collapse:collapse;
    display:table;
}
.back-index-add[name='course'] .tab>.tab-item{
    width:50%;
    border-color:rgba(0,0,0,0.2);
    color:rgba(0,0,0,0.4);
    cursor:pointer;
    border-style:solid;
    border-width:0px 1px 1px;
    font-size:19px;
    text-align:center;
    padding:6px 0;
    display:table-cell;
    transition:color 0.25s ease-out;
}
.back-index-add[name='course'] .tab>.tab-item:not(.active):hover{
    color:rgba(0,0,0,0.8);
}
.back-index-add[name='course'] .tab>.tab-item.active{
    border-top-width:1px;
    border-bottom-width:0;
    color:#D95C5C;
    cursor:default;
}
/*添加细节*/
.back-index-add[name='course']>.inner .left-part,
.back-index-add[name='course']>.inner .right-part{
    float:left;
    width:50%;
    height:420px;
    margin-top:40px;
    overflow-y:auto;
    position:relative;
    border-bottom:1px solid rgba(0,0,0,0.1);
}
.back-index-add[name='course']>.inner .left-part>div.input,
.back-index-add[name='course']>.inner .right-part>div.input{
    width:300px;
    margin:5px 0px 6px 25px;
}
.back-index-add[name="course"]>.inner .left-part>.select{
    position:relative;
}
.back-index-add[name="course"]>.inner .left-part>.select>i{
    position:absolute;
    left:36px;
    top:19px;
}
.back-index-add[name="course"]>.inner .left-part  .ui.dropdown{
    top:auto;
    width:300px;
    margin:5px 0px 6px 25px;
    padding:12px 10px 11px 39px;
    box-shadow:0 0 0 0 rgba(0, 0, 0, 0.3) inset;
    -moz-box-shadow:0 0 0 0 rgba(0, 0, 0, 0.3) inset;
    -webkit-box-shadow:0 0 0 0 rgba(0, 0, 0, 0.3) inset;
    border:1px solid rgba(0, 0, 0, 0.15);
    font-size:0.875em;
}
.back-index-add[name="course"]>.inner .left-part  .ui.dropdown:hover{
    box-shadow:none;
    -moz-box-shadow:none;
    -webkit-box-shadow:none;
}
.back-index-add[name="course"]>.inner .left-part  .ui.dropdown>.dropdown{
    position:absolute;
    right:11px;
}
.back-index-add[name="course"]>.inner .left-part  .ui.dropdown .menu{
    max-width:100%;
    width:100%;
    max-height:198px;
    overflow-y:auto;
}
.back-index-add[name="course"]>.inner .left-part  .ui.dropdown .text
{
    max-width:94%;
    overflow:hidden;
    text-overflow:ellipsis;
    white-space:nowrap;
}
.back-index-add[name="course"]>.inner .left-part  .ui.dropdown i{
    padding-top:12px;
}
.back-index-add[name="course"]>.inner .left-part  .ui.dropdown .item{
    max-width:100%;
    word-break:break-all;
    word-wrap:break-word;
    white-space:normal;
    line-height:15px;
    padding:12px 10px;
}
.back-index-add[name='course']>.inner .left-part>.course-desc{
    position:relative;
}
.back-index-add[name='course']>.inner .left-part>.course-desc>i{
    position:absolute;
    color: rgba(0, 0, 0, 0.55);
    left:36px;
    top:17px;
    transition: color 0.3s ease-out 0s;
}
.back-index-add[name='course']>.inner .left-part textarea{
    margin:5px 0px 6px 25px;
    min-width:300px;
    max-width:300px;
    width:300px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing:border-box ;
    background-color: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 0.3125em;
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.3) inset;
    color: rgba(0, 0, 0, 0.7);
    font-size: 0.875em;
    font-family: "Helvetica Neue","Helvetica",Arial;;
    padding: 10px 10px 10px 39px;
    height:78px;
    min-height:78px;
    max-height:110px;
    transition: background-color 0.3s ease-out 0s, box-shadow 0.2s ease 0s, border-color 0.2s ease 0s;
}
.back-index-add[name='course']>.inner .left-part textarea:focus,
.back-index-add[name='course']>.inner .left-part textarea:active,
.back-index-add[name='course']>.inner .left-part textarea:focus+i,
.back-index-add[name='course']>.inner .left-part textarea:active+i{
    border-color: rgba(0, 0, 0, 0.2);
    color: rgba(0, 0, 0, 0.85);
}
.back-index-add[name='course']>.inner .right-part>div.input.specialInput{
    margin:5px 0 1px 25px;
}
.back-index-add[name='course']>.inner .right-part>.choose-teacher-delivery{
    margin:5px 0px 6px 25px;
}
.back-index-add[name='course']>.inner>.button{
    width:130px;
    position:absolute;
    right:30px;
    bottom:20px;
}
/*填写子课程老师的地方*/
.back-index-add[name='course']>.inner .right-part>.sub-course-block{
    margin-top:-10px;
    position:relative;
    display:none;
}
.back-index-add[name='course']>.inner .right-part .sub-course-block-item{
    position:relative;
    left:25px;
    top:2px;
    width:320px;
 }
.back-index-add[name='course']>.inner .right-part .sub-course-block-item .sub-course-name{
    width:110px;
}
.back-index-add[name='course']>.inner .right-part .sub-course-block-item .sub-course-name>input{
    padding:0.85em 0.5em;
    font-size:0.81em
}
.back-index-add[name='course']>.inner .right-part .sub-course-block-item .specialInput{
   width:150px;
   top:15px;
}
.back-index-add[name='course']>.inner .right-part .sub-course-block-item .specialInput ul{
    padding:0.85em 0 0.85em 0.5em;
}
.back-index-add[name='course']>.inner .right-part .sub-course-block-item .specialInput li{
    padding:0 2px;
}
.back-index-add[name='course']>.inner .right-part .sub-course-block-item>i{
    font-size:29px;
    color:#D95C5C;
    position:relative;
    left:5px;
    top:5px;
    cursor:pointer;
}
.back-index-add[name='course']>.inner .right-part .sub-course-block-item>i:hover{
    color:rgba(217,92,92,0.8);
}
.back-index-add[name='course']>.inner .right-part>.sub-course-block>i{
    font-size:29px;
    color:#63A69F;
    position:absolute;
    left:298px;
    margin-top:10px;
    cursor:pointer
}
.back-index-add[name='course']>.inner .right-part>.sub-course-block>i:hover{
    color:rgba(99,166,159,0.8);
}
/*readonly 的输入框*/
.sub-course-teachers-input-complete[readonly=""]::-moz-placeholder{
    color:rgba(0,0,0,0);
    cursor:default;
}
.sub-course-teachers-input-complete[readonly=""]::-webkit-input-placeholder{
    color:rgba(0,0,0,0);
    cursor:default;
}
.sub-course-teachers-input-complete[readonly=""]:-moz-placeholder{
    color:rgba(0,0,0,0);
    cursor:default;
}
.sub-course-teachers-input-complete[readonly=""]:-ms-input-placeholder{
    color:rgba(0,0,0,0);
    cursor:default;
}