/*新建老师*/
.back-index-add[name='teacher'] .whole-block{
    width:70%;
    position:relative;
    left:50%;
    margin-left:-35%;
    top:111px;
    height:49%;
}
.back-index-add[name='teacher'] .whole-block>.ui.input{
    width:80%;
    position:relative;
    left:50%;
    margin-left:-40%;
    display:block;
    margin-bottom:27px;
}
.back-index-add[name='teacher'] .whole-block .sex{
    margin-left:50px;
    margin-top:-9px;
    margin-bottom:18px;
}
.back-index-add[name='teacher'] .whole-block .sex .radio{
    margin-right:18px;
}
.back-index-add[name='teacher'] .button{
    width:130px;
    position:absolute;
    right:50px;
    bottom:0px;
}
/*老师列表*/
.search-result[name='teacher'] table tr td{
    padding: 0.8em 0.7em;
}

.search-result[name='teacher'] table tr td:first-of-type{
    color:#63A69F;
    font-size:21px;
}