
/********************************************************************************* 跳出来分配课程*/
.dhx_section_time>select{
    width:70px;
}
.dhx_cal_template .specialInput ul > li{
    padding:0 2px 1px;
}
.dhx_cal_template .specialInput ul > li > .label{
    padding:0 2px;
}
.dhx_section_time{
    float:left;
    margin-left:12px;
}
.dhx_section_time>label{
    padding:0px 0px;
    margin-left:-3px;
    font-size:12px;
}
.dhx_section_time>label:last-of-type{
    margin-right:8px;
}
.schedule-color{
    padding:0px;
    margin:0px;
    list-style-type: none;
    display:block;
}
.schedule-color>li{
    float:left;
    display:block;
    width:14px;
    height:14px;
    margin-right:7px;
    margin-top:3px;
    cursor:pointer;
    position:relative;
}
.schedule-color>li.active:after{
    content:"*";
    position:absolute;
    top:11px;
    left:4px;
}
.schedule-color>li[color='#000']{
    background:#000;
}
.schedule-color>li[color='#FFA500']{
    background:#FFA500;
}
.schedule-color>li[color='#63A69F']{
    background:#63A69F;
}
.schedule-color>li[color='#D95C5C']{
    background:#D95C5C;
}
.schedule-color>li[color='#4092CC']{
    background:#4092CC;
}
/********************************************************************************* 放full calendar的*/
.schedule-calendar{
    width:75%;
    position:absolute;
    left:0px;
    top:55px;
    bottom:0px;
}
.schedule-calendar>.schedule-calendar-inner{
    position:relative;
    width:90%;
    left:29px;
    height:90%;
    top:29px;
    box-shadow:2px 3px 9px rgba(0, 0, 0, 0.6);
    -moz-box-shadow:2px 3px 9px rgba(0, 0, 0, 0.6);
    -webkit-box-shadow:2px 3px 9px rgba(0, 0, 0, 0.6);

}
.schedule-calendar>.schedule-calendar-inner,
.schedule-calendar .dhx_cal_container,
.schedule-calendar .dhx_cal_navline{
    border-radius:5px 5px 0 0;
    -moz-border-radius:5px 5px 0 0;
    -webkit-border-radius:5px 5px 0 0;
}
.schedule-calendar>.schedule-calendar-inner table tr:last-of-type .dhx_month_body{
    border-bottom:0px solid black;
}
.dhx_cal_ltext.dhx_cal_template>.total-teachers,
.dhx_cal_ltext.dhx_cal_template>select{
    min-width:167px;
}
/*课程的样式*/
.schedule-calendar-inner .dhx_cal_event_clear{
    font-size:10px;
    color:#fff;
    text-shadow:1px 1px 1px rgba(0, 0, 0, 0.6);
    -moz-text-shadow:1px 1px 1px rgba(0, 0, 0, 0.6);
    -webkit-text-shadow:1px 1px 1px rgba(0, 0, 0, 0.6);
    padding:1px 0px 5px 2px;
    border-radius:0px 4px 4px 0;
    -moz-border-radius:0px 4px 4px 0;
    -webkit-border-radius:0px 4px 4px 0;
}
.schedule-calendar-inner .dhx_cal_event_clear b{
    font-weight:lighter;
}
.schedule-calendar-inner .dhx_cal_event>.dhx_title,
.schedule-calendar-inner .dhx_cal_event>.dhx_body,
.schedule-calendar-inner .dhx_cal_event>.dhx_footer{
    /*background-color:#FFA500;*/
}
.schedule-calendar-inner .dhx_cal_event>.dhx_title{
    cursor:move;
}
/*.dhx_event_resize.dhx_footer{*/
    /*position:relative;*/
/*}*/
/*.dhx_event_resize.dhx_footer:after{*/
    /*content:url(../images/resizing.png);*/
    /*position:absolute;*/
    /*width:20px;*/
    /*left:50%;*/
    /*margin-left:-13px;*/
    /*top:-4px;*/

/*}*/
.dhtmlx_popup_button.dhtmlx_ok_button div{
    background:#D95C5C !important;
    border:1px solid #D95C5C !important;
}
.dhtmlx_popup_button.dhtmlx_ok_button {
    background-color: #D95C5C !important;
    border: 1px solid #D95C5C !important;
}

/*单击跳出来来的info*/
.dhx_cal_qi_content{
    display:none
}
.dhx_cal_qi_controls .dhx_qi_big_icon{
    background-color:#63A69F;
}
.dhx_cal_qi_controls .dhx_qi_big_icon.icon_delete{
    background-color: #D95C5C
}
.dhx_cal_quick_info{
    background: none repeat scroll 0 0 rgba(0,0,0,0.7) !important;
    border: 1px solid rgba(0,0,0,0.7) !important;
}
.dhx_cal_qi_tcontent>span:nth-of-type(1){
    font-size:13px;
    display:block;
    font-weight:lighter;
    color:rgba(255,255,255,0.8);
    margin: -3px 0 2px;
}
.dhx_cal_qi_tcontent>span:nth-of-type(2){
    margin:10px 0 0px !important;
}
.dhx_cal_qi_tcontent>span:nth-of-type(2),
.dhx_cal_qi_tcontent>span:nth-of-type(3){
    font-weight:lighter;
    margin:0;
    display:block;
    font-size:14px;
}
.dhx_wrap_section .new-schedule-teachers{
    font-size:13px;
    line-height:9px;
}
.dhx_wrap_section .ui.input input[type='text']{
    padding:5px 10px;
}
/********************************************************************************* 右侧*/
/*选择机构的*/
.schedule-search{
    position:absolute;
    right:0px;
    top:55px;
    bottom:0px;
    width:25%;
}
.schedule-search>.ui.button.dropdown{
    position:absolute !important;
    top:4%;
    width:86%;
    min-width:230px;
}
.schedule-search>.ui.button.dropdown .menu{
    max-height:219px;
    overflow-y:auto;
}
/*放search的地方*/
.schedule-search>.search-block{
    position:absolute;
    top:110px;
    width:86%;
    min-width:230px;
    border-radius:5px;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
}
.schedule-search>.search-block>.input{
    width:100%;
}
.schedule-search>.search-block>.input>input{
    font-size:12px;
}
.schedule-search>.search-block>.input>i{
    cursor:pointer !important;
}
.schedule-search>.search-block>.input>i:hover{
    color:#D95C5C;
}
/*search结果列出来*/
.schedule-search>.search-block>.search-list{
    max-height:400px;
    height:auto;
    width:99%;
    overflow-y:auto;
    background:white;
    border-color:rgba(0, 0, 0, 0.15);
    border-style:solid;
    border-width:0px 1px 1px 1px;
}
.schedule-search>.search-block>.search-list .uncommon{
    font-size:13px;
    padding:5px 0px 5px 14px;
}
.search-list>.search-class-name{
    font-size:13px;
    margin:10px 8px 1px;
}
.search-list>.search-class-name>span:nth-of-type(2),
.search-list>.search-class-teachers>span:nth-of-type(2){
    color:#C69C6D
}
.search-list>.search-class-teachers{
    font-size:13px;
    margin:4px 8px 1px;
}
.search-list>.search-class-schedule{
    list-style-type: none;
    padding:5px 0px 2px;
    margin:0px;
    font-size:0;
}
.search-list>.search-class-schedule>li{
    font-size:0px;
    padding:4px 10px;
    word-break:break-all;
    word-wrap:break-word;

}
.search-list>.search-class-schedule>li:nth-child(odd){
    background:rgba(220,220,220,0.5);
}
.search-list>.search-class-schedule>li>span:nth-of-type(1){
    width:147px;
    display:inline-block;
    vertical-align:top;
    font-size:13px;
}
.search-list>.search-class-schedule>li>span:nth-of-type(2){
    color:rgba(0,0,0,1);
    width:76px;
    display:inline-block;
    vertical-align:top;
    margin-right:2px;
    font-size:12px;
}
.search-list>.search-class-schedule>li>span:nth-of-type(3){
    color:rgba(0,0,0,0.9);
    font-weight:bold;
    vertical-align:top;
    color:#4092CC;
    font-size:12px;
    width:210px;
    display:block;
}
.search-list>.search-class-schedule>li>i{
    float:right;
    color:#D95C5C;
    cursor:pointer;
    font-size:13px;
}
/*按钮*/
.schedule-search>.save-schedule{
    position:absolute;
    bottom:6%;
    min-width:170px;
    left:50%;
    width:46%;
    margin-left:-32% !important;
}
/********************************************************************************* 发送课表*/
.send-schedule{
    position:absolute;
    min-height:768px;
    top:0px;
    right:auto;
    bottom:0px;
    left:-999em;
    background:rgba(0,0,0,0.9);
    z-index:99;
}
.send-schedule>.inner{
    position:absolute;
    width:700px;
    height:460px;
    top:40%;
    left:50%;
    margin-top:-230px;
    margin-left:-350px;
    background-color:white;
}
.send-schedule>.inner>.remove.icon{
    color:white;
    font-size:28px;
    position:absolute;
    right: -27px;
    top: -34px;
    cursor:pointer;
    transition:color 0.25s ease-out;
}
.send-schedule>.inner>.remove.icon:hover{
    color:rgba(255,255,255,0.5);
}
.send-schedule>.inner>p{
    text-align:center;
    height:35px;
    font-size:16px;
    background:#63A69F;
    color:white;
    line-height:35px;
    margin:0px;
    text-shadow:2px 2px 4px rgba(0,0,0,0.4);
    -moz-text-shadow:2px 2px 4px rgba(0,0,0,0.4);
    -webkit-text-shadow:2px 2px 4px rgba(0,0,0,0.4);
}
.send-schedule>.inner>label{
    display:block;
    font-size:15px;
    color:#63A69F;
    padding:4px 8px;
    margin:35px 10px 8px;
    border-bottom:1px solid rgba(0,0,0,0.2);

}
.send-schedule>.inner>.send-buttons{
    margin-left:18px;
}
.send-schedule>.inner>.send-buttons .button{
    margin-right:15px;
}
.send-schedule>.inner .button{
    font-weight:lighter !important;
}
.send-schedule>.inner>.input{
    margin-left:18px;
    margin-bottom:15px;
    width:450px;
}
.send-schedule>.inner>.ui.icon.input>i.icon{
    background-color:#4092CC;
    opacity:1;
    cursor:pointer;
}
.send-schedule>.inner>.ui.icon.input>i.icon:hover{
    opacity:0.75;
}
