/*green*/
/* #63A69F*/
/*red*/
/* #E44B3D*/
@font-face {
    font-family:'maven';
    /*src:url("/assets/mavenprolight300.ttf"),*/
    /*url("/assets/mavenprolight300.eot");*/
    src:url("../fonts/mavenprolight300.ttf"),
    url("../fonts/mavenprolight300.eot");
}
html,body{
    margin:0px;
    min-width:1024px;
    min-height:768px;
    font-family:"Arial",sans-serif;
    font-weight:lighter;
    /*background-color:#f7f0e0*/
}
a{
    text-decoration:none;
    cursor:pointer;
}
p{
    color:#333;
    margin:5px 0;
}
select{
    width:120px;
    border-radius:1px;
    -moz-border-radius:1px;
    -webkit-border-radius:1px;
    background-color:white;
    border:1px solid rgba(0,0,0,0.3);
    padding:5px 4px;
    font-size:13px;
    color:#333;
}
/*基础布局操作*/
.pull-left{
    float:left
}
.pull-right{
    float:right;
}
/********************************************************************************************************* Message
*******************************************************************************************************************/
.message-box{
    position:fixed;
    z-index:100;
    width:600px;
    margin-left:-300px;
    word-break:break-all;
    word-wrap:break-word;
    left:50%;
    padding:15px 10px 8px;
    text-align:center;
    display:none;
    word-break:break-all;
    word-wrap:break-word;
    box-shadow:0 0 5px rgba(0,0,0,0.5);
    -moz-shadow:0 0 5px rgba(0,0,0,0.5);
    -webkit-shadow:0 0 5px rgba(0,0,0,0.5);
}
.message-box p{
    font-size:16px;
    text-shadow:1px 1px 1px rgba(0,0,0,0.5);
}
.message-box.top{
    top:0;
}
.message-box.bottom{
    bottom:0;
}
.message-box.success{
    background:#45d263;
    color:white;
}
.message-box.danger{
    background-color:#fa4545;
    color:white
}
.message-box.warning{
    color:white;
    background-color:#f3ca39;
}