/****************************************************中间部分*/
.back-index-condition.front-index-condition{
    width:180px;
}
.back-index-condition.front-index-condition>header>label,
.back-index-main.front-index-main>header>label{
    font-size:15px;
    top:15px;
    color:rgba(0,0,0,0.7);
}
.front-people-info>img{
    width:65px;
    height:65px;
    border-radius:65px;
    -moz-border-radius:65px;
    -webkit-border-radius:65px;
    margin-left:61px;
    margin-top:35px;
    margin-bottom:5px;
}
.front-people-info>label{
    font-size:18px;
    color:#63A69F;
    text-align:center;
    display:block;
    margin-bottom:15px;
}
.front-people-info>p{
    position:relative;
    color:rgba(0,0,0,0.7);
    font-size:13px;
    margin-bottom:12px;
    width:100%;
}
.front-people-info>p:after{
    content:"";
    display:block;
    clear:both;
}
.front-people-info>p>i{
    width:28px;
    margin-right:5px;
    text-align:right;
    color:rgba(0,0,0,0.3);
    font-size:13px;
    margin-top:2px;
    float:left;
    color:#63A69F
}
.front-people-info>p>i.building{
    padding-right:1px;
}
.front-people-info>p>span{
    float:left;
    width:80%;
    word-break:break-all;
    word-wrap:break-word;
    display:inline-block;
}
/*针对post和homework的*/
.back-index-condition.front-index-condition>.ui.vertical.menu{
    background-color:rgba(0,0,0,0);
    box-shadow:none;
    -moz-box-shadow:none;
    -webkit-box-shadow:none;
    width:180px;
    margin-top:13px;
}
.back-index-condition.front-index-condition>.ui.vertical.menu .item{
    cursor:pointer;
    border-radius:0px;
    -moz-border-radius:0px;
    -webkit-border-radius:0px;
    padding:0.53em 0.95em
}
.back-index-condition.front-index-condition>.ui.vertical.menu .item:hover{
    background-color:rgba(0,0,0,0.03);
}
.back-index-condition.front-index-condition>.ui.vertical.menu .item.active{
    background-color:#63A69F;
    color:#fff;
}
.back-index-condition.front-index-condition .down.button{
    right:auto;
    left:10px;
    font-size:12px;
    font-weight:lighter;
}
/****************************************************最右*/
.front-people-inner{
    position:absolute;
    z-index:0;
    width:100%;
}
.back-index-main.front-index-main{
    left:280px;
    min-width:720px;
}
.front-people-inner .segment{
    padding-bottom:30px !important;

}
.front-people-inner .segment>h2{
    font-size:19px;
    color:rgba(0,0,0,0.7);
}
/*class*/
.front-class{
    margin-top:30px !important;
    width:95%;
    min-width:691px !important;
    margin-left:25px !important;
}
.front-class>.item{
    border-radius:5px;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    border:1px solid rgba(0,0,0,0.3);
    padding:5px 10px;
    margin-bottom:15px;
    position:relative;
    background:rgba(0,0,0,0.03);
    float:left;
    width:45%;
    margin-left:10px;
}
.front-class>.item>h4,
.front-class>.item>p{
    width:74%;
    word-break:break-all;
    word-wrap:break-word;
    font-size:13px;
    color:rgba(0,0,0,0.6);

}
.front-class>.item>p>span:nth-of-type(1){
    vertical-align:top;
}
.front-class>.item>p>span:nth-of-type(2){
    word-break:break-all;
    word-wrap:break-word;
    display:inline-block;
    max-width:100%;
}
.front-class>.item>.homework-amount{
    font-size:13px;
    color:rgba(0,0,0,0.6);
}
.front-class>.item>.homework-amount>span:nth-of-type(2){
    color:#D95C5C;
    font-weight:bolder;
}
.front-class>.item>h4{
    margin:5px 0 -5px 0;
    font-size:17px;
    color:#4092CC
}
.front-class>.item>.sub-class{
    margin-bottom:8px;
    font-size:13px;
    color:#C69C6D;
}
.front-class>.item>.button{
    position:absolute;
    right:12px;
    height:26px;
    font-size:13px;
    font-weight:lighter;
    top:50%;
    margin-top:-13px;
}
/*针对homework和post的*/
.front-index-side-header>.ui.breadcrumb{
    font-size:14px;
    margin-top:15px;
    margin-left:16px;
}
.front-index-side-header>.breadcrumb>a{
    transition:color 0.25s ease-out;
    color:#009FDA
}
.front-index-side-header>.breadcrumb>a:not(:last-of-type):after{
    content:"/";
    color:rgba(0,0,0,0.2);
    font-weight:bold;
    font-size:15px;
    padding:0 5px;
}
.front-index-side-header>.breadcrumb>a.active,
.front-index-side-header>.breadcrumb>a:hover{
    color:rgba(0,0,0,0.7);
}
.front-index-side-header>.breadcrumb>a+div.divider{
    font-weight:bold;
    font-size:15px;
}
.front-index-side-header>p{
    position:absolute;
    left:0px;
    right:0px;
    top:15px;
    text-align:center;
    font-size:15px;
    font-weight:500;
    pointer-events:none;
}
.post-homework{
    border-radius:4px;
    -moz-border-radius:4px;
    -webkit-border-radius:4px;
    background:white;
    margin:15px;
    box-shadow:3px 3px 4px rgba(0,0,0,0.4);
    -moz-box-shadow:3px 3px 4px rgba(0,0,0,0.4);
    -webkit-box-shadow:3px 3px 4px rgba(0,0,0,0.4);
    border:1px solid rgba(0,0,0,0.2);
    height:85%;
    overflow-y:auto;
}
.post-homework>.left{
    width:200px;
    min-height:100%;
    overflow-y: auto;
    float:left;
    border-right:1px solid rgba(0,0,0,0.15);
}
.post-homework>.left>.accordion{
    border-radius:0px;
    -moz-border-radius:0px;
    -webkit-border-radius:0px;
    background:none;
    border-right:none;
}
.post-homework>.left>.accordion .item:first-of-type .title {
    border-top: medium none;
}
.post-homework>.left>.accordion .title{
    border-top: 1px solid rgba(0, 0, 0, 0.03);
    font-size:14px;
    font-weight:bolder;
    background-color:rgba(226,226,226,0.3);
    color:#C69C6D;
    padding:5px 10px;
}
.post-homework>.left>.accordion .active.title{
    background-color:#63A69F;
    color:#fff;
}
.post-homework>.left>.accordion .content{
    padding:5px 10px;
}
.post-homework>.left>.accordion .content ul{
    padding:0px;
    margin:0px;
    list-style-type: none;
}
.post-homework>.left>.accordion .content ul a{
    display:block;
    font-size:13px;
    padding:5px 0px;
    border-bottom:1px solid rgba(0,0,0,0.1);
}
.post-homework>.left>.accordion .content ul li:last-of-type a{
    border-bottom:none;
}
.post-homework>.left>.accordion .content ul li.active,
.post-homework>.left>.accordion .content ul a:hover{
    color:#63A69F;
}

.post-homework>.right{
    float:left;
    padding:0px 20px;
}
.post-homework>.right>h3{
    color:#63A69F;
    margin-bottom:3px;
}
.post-homework>.right>p{
    width:100%;
    word-break:break-all;
    word-wrap:break-word;
    font-size:13px;
    color:rgba(0,0,0,0.6);
    margin-bottom:40px;
}
.post-homework>.right>hr{
    color:rgba(0,0,0,0.4);
}
.post-homework>.right>hr:nth-of-type(2){
    margin-bottom:5px;
}
.post-homework>.right>.item{
    padding:10px 0;
    border-bottom:1px solid rgba(0,0,0,0.3);
}
.post-homework>.right>.item:after{
    content:'';
    display:block;
    clear:both;
}
.post-homework>.right>.item>img{
    float:left;
}
.post-homework>.right>.item>p:first-of-type{
    font-size:15px;
    font-weight:bold;
    color:#4092CC;
    padding-right:25px;
    padding-bottom:3px;
    margin-top:-2px;
}
.post-homework>.right>.item>p:nth-of-type(2){
    font-size:11px;
    color:rgba(0,0,0,0.4);
    margin-top:-8px;
}
.post-homework>.right>.item>p:nth-of-type(3){
    font-size:14px;
    color:rgba(0,0,0,0.7);
    margin-top:6px;
    word-break:break-all;
    word-wrap:break-word;
}
.post-homework>.right>.item>div{
    float:right;
    margin-right:10px;
}
.post-homework>.right>.item>div>label{
    font-size:12px;
    color:#D95C5C;
}
.post-homework>.right>.item>div>input[type='checkbox']{
    cursor:pointer;
    margin-right:20px;
    position:relative;
    top:2px;
}
.post-homework>.right>.item>div>input[type='text']{
    width:100px;
}
/**************************************************************  上传 */
.upload-wrap{
    position:fixed;
    top:0;
    left:-999em;
    border-radius:4px;
    -moz-border-radius:4px;
    -webkit-border-radius:4px;
    box-shadow:3px 3px 4px rgba(0,0,0,0.7);
    -moz-box-shadow:3px 3px 4px rgba(0,0,0,0.7);
    -webkit-box-shadow:3px 3px 4px rgba(0,0,0,0.7);
    border:1px solid rgba(0,0,0,0.3);
    z-index:99;
    width:140px;
    padding-bottom:10px;
    background-color:#fff;
}
.upload-wrap>i{
    float:right;
    color:#000;
    font-size:13px;
    cursor:pointer
}
.upload-wrap>i:hover{
    color:#D95C5C
}
.upload-wrap>.upload-button{
    background:linear-gradient(rgba(0,0,0,0.1),rgba(0,0,0,0.3)) #63A69F;
    margin-top:20px;
    margin-left:17px;
    font-size:12px;
    text-align:center;
    padding:4px 6px;
    color:#fff;
    border-radius:2px;
    -moz-border-radius:2px;
    -webkit-border-radius:2px;
    width:90px;
    display:block;
}
.upload-wrap>p{
    font-size:12px;
    overflow:hidden;
    text-overflow:ellipsis;
    white-space:nowrap;
    margin:2px 17px;
}
.upload-wrap>.ok-button{
    color:#63A69F;
    display:inline-block;
    padding:0px 6px;
    margin-left:81px;
    margin-top:6px;
    border:1px solid rgba(0,0,0,0.2);
    border-radius:2px;
    -moz-border-radius:2px;
    -webkit-border-radius:2px;
    font-size:12px;
    text-align: center;
}
.upload-wrap>.ok-button:hover{
    color:#D95C5C
}