/****************************************************中间部分*/
.back-index-condition.front-index-condition{
    width:180px;
}
.back-index-condition.front-index-condition>header>label,
.back-index-main.front-index-main>header>label{
    font-size:15px;
    top:15px;
    color:rgba(0,0,0,0.7);
}
.front-people-info>img{
    width:65px;
    height:65px;
    border-radius:65px;
    -moz-border-radius:65px;
    -webkit-border-radius:65px;
    margin-left:61px;
    margin-top:35px;
    margin-bottom:5px;
}
.front-people-info>label{
    font-size:18px;
    color:#63A69F;
    text-align:center;
    display:block;
    margin-bottom:20px;
}
.front-people-info>p{
    position:relative;
    color:rgba(0,0,0,0.7);
    font-size:13px;
    margin-bottom:12px;
    width:100%;
}
.front-people-info>p:after{
    content:"";
    display:block;
    clear:both;
}
.front-people-info>p>i{
    width:28px;
    margin-right:5px;
    text-align:right;
    color:rgba(0,0,0,0.3);
    font-size:13px;
    margin-top:2px;
    float:left;
    color:#63A69F
}
.front-people-info>p>i.building{
    padding-right:1px;
}
.front-people-info>p>span{
    float:left;
    width:80%;
    word-break:break-all;
    word-wrap:break-word;
    display:inline-block;
}
/****************************************************最右*/
.front-people-inner{
    position:absolute;
    z-index:0;
    width:100%;
}
.back-index-main.front-index-main{
    left:280px;
}
.front-people-inner .segment{
    padding-bottom:30px !important;
}
.front-people-inner .segment>h2{
    font-size:19px;
    color:rgba(0,0,0,0.7);
}
/*class*/
.front-class{
    margin-top:30px !important;
    width:95%;
    margin-left:25px !important;
}
.front-class>.item{
    border-radius:5px;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    border:1px solid rgba(0,0,0,0.3);
    padding:5px 10px;
    margin-bottom:15px;
    position:relative;
    background:rgba(0,0,0,0.03);;
}
.front-class>.item>h4,
.front-class>.item>p{
    width:75%;
    word-break:break-all;
    word-wrap:break-word;
    font-size:13px;
    color:rgba(0,0,0,0.6);

}
.front-class>.item>p>span:nth-of-type(1){
    vertical-align:top;
}
.front-class>.item>p>span:nth-of-type(2){
    word-break:break-all;
    word-wrap:break-word;
    display:inline-block;
    max-width:100%;
}
.front-class>.item>.homework-amount{
    font-size:13px;
    color:rgba(0,0,0,0.6);
}
.front-class>.item>.homework-amount>span:nth-of-type(2){
    color:#D95C5C;
    font-weight:bolder;
}
.front-class>.item>h4{
    margin:5px 0 -5px 0;
    font-size:17px;
    color:#4092CC
}
.front-class>.item>.sub-class{
    margin-bottom:8px;
    font-size:13px;
    color:#C69C6D;
}
.front-class>.item>.button{
    position:absolute;
    right:40px;
    height:26px;
    font-size:13px;
    font-weight:lighter;
    top:50%;
    margin-top:-15px;
}