/****************************************************中间部分*/
.back-index-condition.front-index-condition{
    width:180px;
}
.back-index-condition.front-index-condition>header>label,
.back-index-main.font-index-main>header>label{
    font-size:15px;
    top:15px;
    color:rgba(0,0,0,0.6);
}
.front-people-info>img{
    width:65px;
    height:65px;
    border-radius:65px;
    -moz-border-radius:65px;
    -webkit-border-radius:65px;
    margin-left:61px;
    margin-top:20px;
    margin-bottom:5px;
}
.front-people-info>label{
    font-size:18px;
    color:#63A69F;
    text-align:center;
    display:block;
    margin-bottom:13px;
}
.front-people-info>p{
    position:relative;
    color:rgba(0,0,0,0.7);
    font-size:13px;
    text-align:center;
}
.front-people-info>p>i{
    width:25px;
    color:rgba(0,0,0,0.3);
    font-size:13px;
    height:12px;
    position:relative;
    top:50%;
    margin-top:-6px;
}
/****************************************************最右*/
.front-people-inner{
    position:absolute;
    z-index:0;
    width:100%;
}
.back-index-main.font-index-main{
    left:280px;
}
.front-people-inner .segment{
    padding-bottom:30px !important;
}
.front-people-inner .segment>h2{
    font-size:19px;
    color:rgba(0,0,0,0.7);
}