<!DOCTYPE html>
<html>
<head>
    <title></title>
    <link rel="stylesheet" href="stylesheets/semantic.css" type="text/css" />
    <link rel="stylesheet" href="stylesheets/base.css" type="text/css" />
    <link rel="stylesheet" href="stylesheets/FONT-index.css" type="text/css" />
</head>
<body>
<!--<h1>Listing posts</h1>-->
<!--<h2>当前课堂:</h2><p id="course" course="<%= @current_course.id%>"><%= @current_course.name%></p>-->
<!--<div>-->
<!--<h1>新建帖子</h1>-->
<!--<input id="title" type="text" placeholder="标题..."></input>-->
<!--<input id="content" type="textarea" placeholder="内容..."></input>-->
<!--<input type="button" onclick="create_post()" value="创建"></input>-->
<!--<%= render partial:'/shares/file_upload'%>-->
<!--</div>-->

<!--<div>帖子列表</div>-->
<!--<% if @posts %>-->
<!--<ul>-->
<!--<%@menus.each do |menu|%>-->
<!--<li>-->
<!--<a href="#" type="<%= menu.value%>" class="post-menu-a <%= 'pin' if menu.is_pin%>" pin="<%=menu.is_pin%>"><%= menu.display%><%= ':>>>>' if menu.is_pin%></a>-->
<!--<div  style="background: brown">-->
<!--<%if @menu_type==menu.value%>-->
<!--<%= render 'list_item'%>-->
<!--<%end%>-->
<!--</div>-->
<!--</li>-->
<!--<% end %>-->
<!--</ul>-->

<!--<p>帖子内容</p>-->
<!--<div id="post-content" style="float: left">-->

<!--</div>-->
</body>
</html>